.flashMessage {
  left: 0;
  display: inline-block;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  cursor: pointer;
  pointer-events: auto;
  font-size: 11px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 6px 12px 6px 44px;
  line-height: 30px;
}

.flashMessage::before {
  height: 30px;
  width: 44px;
  line-height: 30px;
  top: 6px;
  left: 0;
  font-size: 12px;
}
