.connector-container-wrapper {
  background-color: transparent;
  margin-top: -15px;
}

.connector-item-wrapper {
  display: flex;
  padding: 15px;
  margin: 16px 0px;
  background-color: #fff;
  height: 150px;
}

.connector-icon-wrapper {
  width: 155px;
  height: 120px;
  display: flex;
  align-items: center;
}
.connector-icon-wrapper img {
  width: 100%;
}

.connector-content {
  flex-grow: 1;
  padding: 23px;
}
.connector-title a,
.connector-title-span {
  padding: 18px 0px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  transition: color 0.3s ease 0s;
  color: #000;
}
.connector-title a:hover {
  color: rgb(232, 84, 18);
}

.connector-description {
  font-size: 20px;
  line-height: 22px;
  padding-top: 15px;
}

.connector-left-block {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.connector-green-button {
  background-color: rgb(125, 218, 113);
  color: #fff;
}
.connector-grey-button {
  background-color: rgb(77, 77, 79);
  color: #fff;
  cursor: default;
}

.disabled-connector-item-wrapper {
  opacity: 0.35;
}
