.no_arrow {
  margin-top: 8px;
}

.bottom {
  margin-top: 20px;
  left: 50%;
  right: auto;
  transform: translate(-50%, 0);
}

:global(.dropdown-menu.open) .bottom {
  margin-top: 10px;
}

:global(.dropdown-menu.open) .bottom:before {
  left: 50%;
  right: auto;
  transform: translate(-50%, -100%);
  top: 0;
}

.bottomLeft {
  margin-top: 20px;
  left: 0;
  right: auto;
  transform: translate(0, 0);
}

:global(.dropdown-menu.open) .bottomLeft {
  margin-top: 10px;
}

:global(.dropdown-menu.open) .bottomLeft:before {
  left: 0;
  right: auto;
  transform: translate(100%, -100%);
  top: 0;
}

.bottomRight {
  margin-top: 20px;
  left: auto;
  right: 0;
  transform: translate(0, 0);
}

:global(.dropdown-menu.open) .bottomRight {
  margin-top: 10px;
}

:global(.dropdown-menu.open) .bottomRight:before {
  left: auto;
  right: 0;
  transform: translate(-100%, -100%);
  top: 0;
}

.top {
  margin-top: 0;
  left: 50%;
  right: auto;
  transform: translate(-50%, -100%);
  box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.23), 0 -10px 30px rgba(0, 0, 0, 0.19);
  top: -20px;
}

:global(.dropdown-menu.open) .top {
  top: -10px;
}

:global(.dropdown-menu.open) .top:before {
  left: 50%;
  right: auto;
  transform: translate(-50%, 100%);
  border-bottom-color: transparent;
  border-top-color: #fbfbfb;
  top: auto;
  bottom: 0;
}

.topLeft {
  margin-top: 0;
  left: 0;
  right: auto;
  transform: translate(0, -100%);
  box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.23), 0 -10px 30px rgba(0, 0, 0, 0.19);
  top: -20px;
}

:global(.dropdown-menu.open) .topLeft {
  top: -10px;
}

:global(.dropdown-menu.open) .topLeft:before {
  left: 0;
  right: auto;
  transform: translate(100%, 100%);
  border-bottom-color: transparent;
  border-top-color: #fbfbfb;
  top: auto;
  bottom: 0;
}

.topRight {
  margin-top: 0;
  left: auto;
  right: 0;
  transform: translate(0, -100%);
  box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.23), 0 -10px 30px rgba(0, 0, 0, 0.19);
  top: -20px;
}

:global(.dropdown-menu.open) .topRight {
  top: -10px;
}

:global(.dropdown-menu.open) .topRight:before {
  left: auto;
  right: 0;
  transform: translate(-100%, 100%);
  border-bottom-color: transparent;
  border-top-color: #fbfbfb;
  top: auto;
  bottom: 0;
}

.right {
  left: auto;
  right: -22px;
  transform: translate(100%, -50%);
  top: 50%;
}

:global(.dropdown-menu.open) .right {
  right: -12px;
}

:global(.dropdown-menu.open) .right:before {
  left: -12px;
  right: auto;
  transform: translate(0, -50%);
  top: 50%;
  border-bottom-color: transparent;
  border-right-color: #fbfbfb;
}

.rightTop {
  left: auto;
  right: -22px;
  transform: translate(100%, 0%);
  top: 0;
}

:global(.dropdown-menu.open) .rightTop {
  right: -12px;
}

:global(.dropdown-menu.open) .rightTop:before {
  left: -12px;
  right: auto;
  transform: translate(0, 100%);
  top: 0;
  border-bottom-color: transparent;
  border-right-color: #fbfbfb;
}

.rightBottom {
  left: auto;
  right: -22px;
  transform: translate(100%, -100%);
  top: 100%;
}

:global(.dropdown-menu.open) .rightBottom {
  right: -12px;
}

:global(.dropdown-menu.open) .rightBottom:before {
  left: -12px;
  right: auto;
  transform: translate(0, -100%);
  top: auto;
  bottom: 0;
  border-bottom-color: transparent;
  border-right-color: #fbfbfb;
}

.left {
  left: -22px;
  right: auto;
  transform: translate(-100%, -50%);
  top: 50%;
}

:global(.dropdown-menu.open) .left {
  left: -12px;
}

:global(.dropdown-menu.open) .left:before {
  left: auto;
  right: -12px;
  transform: translate(0, -50%);
  top: 50%;
  border-bottom-color: transparent;
  border-left-color: #fbfbfb;
}

.leftTop {
  left: -22px;
  right: auto;
  transform: translate(-100%, 0%);
  top: 0;
}

:global(.dropdown-menu.open) .leftTop {
  left: -12px;
}

:global(.dropdown-menu.open) .leftTop:before {
  left: auto;
  right: -12px;
  transform: translate(0, 100%);
  top: 0;
  border-bottom-color: transparent;
  border-left-color: #fbfbfb;
}

.leftBottom {
  left: -22px;
  right: auto;
  transform: translate(-100%, -100%);
  top: 100%;
}

:global(.dropdown-menu.open) .leftBottom {
  left: -12px;
}

:global(.dropdown-menu.open) .leftBottom:before {
  left: auto;
  right: -12px;
  transform: translate(0, -100%);
  top: auto;
  bottom: 0;
  border-bottom-color: transparent;
  border-left-color: #fbfbfb;
}

.widthRestrict {
  min-width: 320px;
}
