.radio {
  padding-top: 10px;
  padding-bottom: 10px;
}
.inline {
  display: inline-block;
}
.block {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}
.block.widthAuto {
  width: auto;
}
@media (max-width: 1280px) {
  .block {
    width: 240px;
  }
}
@media (max-width: 1699px) {
  .block {
    width: 280px;
  }
}
@media (min-width: 1700px) {
  .block {
    width: 320px;
  }
}
