.verticalAlignMiddle {
  vertical-align: middle;
}
.verticalAlignTop {
  vertical-align: top;
}
.caption {
  margin-top: 7px;
}

@media only screen and (min-width: 1700px) {
  .caption {
    margin-top: 8px;
  }
}
