.group-buttons {
  display: flex;
  justify-content: flex-end;
}

.group-buttons button:not(:last-child) {
  margin-right: 8px;
}

.group-title-edit-wrapper {
  display: flex;
}
.group-title-edit-wrapper button {
  margin-left: 8px;
}
