/* elements */

.inputGroup {
  display: inline-block;
  margin-left: 0;
  width: calc(100% - 138px);
}

.customLabels {
  text-align: left;
  margin-left: 320px;
}

.customLabels.narrowLeftIndent {
  margin-left: 27px;
}

.customLabels.fullWidth {
  width: calc(100% - 167px);
}

.customLabel {
  display: inline-block;
}

.customLabel:nth-child(n + 2) {
  margin-left: 7px;
}

.rowNameNarrow {
  width: 25px;
}

/* helpers */

.noMargin {
  margin: 0;
}

.fixedWidth {
  width: 466px;
}

.hidden {
  display: none;
}

.alignTop {
  vertical-align: top;
}

.fullWidth {
  width: calc(100% - 27px);
}

/* custom */

.inputGroup > :global(.group) > :global(.group) {
  width: 100%;
}

.inputGroup :global(.ds-input) {
  width: 100%;
}

.alignChildrenTop > :global(.group) {
  vertical-align: top;
}

:global(.ds-field-name) .longLable {
  float: left;
}

/* cols 2 */

.inputGroup.fieldCols2 > :global(.group),
.customLabelCol2 {
  width: calc(50% - 8px / 2);
}

/* cols 3 */

.inputGroup.fieldCols3 > :global(.group),
.customLabelCol3 {
  width: calc(100% / 3 - 8px * 2 / 3);
}

/* cols 4 */

.inputGroup.fieldCols4 > :global(.group),
.customLabelCol4 {
  width: calc(25% - 8px * 3 / 4);
}

/* cols 5 */

.inputGroup.fieldCols5 > :global(.group),
.customLabelCol5 {
  width: calc(100% / 5 - 8px * 4 / 5);
}
