.textControl {
  margin-left: 25px;
  margin-bottom: 20px;
}

.textControl :global(.ds-input) {
  width: 476px;
}

.textControl :global(.ds-field-name) {
  font-size: 12px;
}

.heading {
  margin-left: 25px;
  margin-bottom: 10px;
  font-weight: 500;
}

.errorMessage {
  margin-left: 280px;
}

@media only screen and (max-width: 1279px) {
  .errorMessage {
    margin-left: 240px;
  }
}

@media only screen and (min-width: 1700px) {
  .errorMessage {
    margin-left: 320px;
  }
}
