.info-block-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-block-text {
  width: 90%;
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

.info-block-icon-wrapper {
  display: flex;
}
