.common-radio-button {
  height: 18px;
  display: flex;
  justify-content: center;
}

.common-radio-button input[type='radio']:checked,
.common-radio-button input[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}

.common-radio-button input[type='radio']:checked + label,
.common-radio-button input[type='radio']:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

.common-radio-button input[type='radio']:checked + label:before,
.common-radio-button input[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0px;
  /* top: -15px; */
  width: 18px;
  height: 18px;
  border: 1px solid #e85412;
  background-color: #ffffff;
  border-radius: 100%;
}

.common-radio-button input[type='radio']:checked + label:after,
.common-radio-button input[type='radio']:not(:checked) + label:after {
  content: '';
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #e85412;
}

.common-radio-button input[type='radio']:not(:checked) + label:after {
  opacity: 0;
}

.common-radio-button input[type='radio']:checked + label:after {
  opacity: 1;
}
