.group {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.group > :global(.group) {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.hidden {
  visibility: hidden;
}
.hiddenAndZeroHeight {
  visibility: hidden;
  height: 0;
  margin: 0;
}
.width100 {
  width: 100%;
}
.center {
  vertical-align: middle;
  text-align: center;
}
.paddingRight {
  padding-right: 6px;
}
.longForm {
  overflow-y: auto;
  max-height: 60vh;
}
.hideFirstHr > hr:first-child {
  display: none;
}
.modalForm,
.modalForm > hr {
  margin: 25px 0;
}
:global(.ds-button).btnError {
  background: #f9d9d9;
}

.bottomIndent {
  padding-bottom: 6px;
  margin-bottom: 19px;
}

.rightIndent {
  padding-right: 6px;
}
