.custom_table {
  display: table;
}
.custom_table-row {
  display: table-row;
}
.custom_table-td {
  display: table-cell;
}
.custom_table-row-title {
  padding: 6px 28px 6px 0;
  color: #4d4d4f;
  line-height: 20px;
  vertical-align: middle;
}
.custom_table-row-value {
  padding: 6px 0 6px 0;
  margin: 2px;
  color: #212122;
  line-height: 20px;
}
