body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100%;
}

/* компонент с двумя колонками - название и значение */
.two-columns-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.two-columns-center_row {
  display: flex;
  width: 100%;
}
.two-columns-center_name {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  padding: 6px 8px 6px 0;
  color: #4d4d4f;
  line-height: 20px;
  align-items: center;
}
.two-columns-center_value {
  width: 65%;
  padding: 6px 0 6px 0;
  margin: 2px;
  color: #212122;
  line-height: 20px;
}

.common-table-head {
  text-transform: uppercase;
  font-size: 12px;
}
.common-table-head td {
  padding: 8px;
}

/* убрает стоелочки для input type="number"  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.table tbody td {
  line-height: 20px;
}
