.acWrapper {
  position: relative;
}

.acDropdown {
  width: 100%;
  max-height: 180px;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin-top: 0;
  overflow: auto;
  text-align: left;
}

.hide {
  display: none;
}
